.book {
  width: 30%;
  margin-bottom: 1rem;

  &__title {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 5px 0;
  }

  &__info {
    margin-top: 2.5rem;
  }

  &__author {
    font-size: 1rem;
    font-weight: 400;
    color: #ABABAB;
  }

  &__footer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-size: 2rem;
    font-weight: 700;
  }
}
