.container {
  &_books {
    display: flex;
    flex-wrap: wrap;
    gap: calc((100% - 90%) / 2);
    padding: 3rem 0;
    align-items: stretch;
  }

  &_form {
    display: flex;
    justify-content: center;
  }

  &_form-content {
    margin-top: 5rem;
    width: 40%;
    border: 1px solid #E7E7E7;
    padding: 2rem;
  }

  &_newsletter {
    background-color: #F4EEFD;
    padding: 2rem;
    margin-top: 2rem;
  }

  &_similar {
    padding: 3rem 0;
  }
}
