.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5dfdf;
  padding: 1rem 0;

  &>a {
    text-decoration: none;
    color: #000;
  }

  &__logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
  }

  &__search {
    width: 37.5rem;
    height: 2.5rem;
    border: 1px solid #f0ebeb;
    border-radius: 1rem;
    padding: 0 1rem;
  }

  &__search:focus {
    background-color: #e5dfdf;

    &::placeholder {
      opacity: 0;
    }
  }

  &__navbar {

    & .header__active-marker {
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #d91313;

      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    & a {
      display: inline-block;
      position: relative;

      &.active {
        .header__active-marker {
          display: block;
        }
      }
    }
  }

  // &__active-marker {
  //   display: none;
  //   width: 10px;
  //   height: 10px;
  //   border-radius: 50%;
  //   background-color: #d91313;
  // }
}
