.single-book, .info__title, .description__item {
  display: flex;
  justify-content: space-between;
}

.single-book__preview {
  padding: 3.5rem 7.5rem;
  background-color: #FEE9E2;
}

.preview__favorite {
  display: none;
}

.single-book__info {
  width: 45%;
  border-top: 1px solid #a8a4a4;
  padding: 2rem 0 0 0;
}

.info__price {
  font-weight: 700;
  font-size: 3rem;
}

.info__description {
  margin: 2rem 0;
}

.description__item {
  padding: 0.5rem 0;
}

.item__category {
  color: #ABABAB;
}

.single-book__navbar {
  border-bottom: 1px solid #ABABAB;
  margin-top: 2rem;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__item {
  padding: 0.8rem 1rem;
}

.single-book__content {
  width: 100%;
  height: 300px;
  padding: 1.5rem 0;
}

.navbar__item_active {
  border-bottom: 3px solid #000;
}
